<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

 <% if @store.files.any? %>
    <h3>Attachments:</h3>
    <% @store.files.each do |file| %>
      <%= image_tag file %>
    <% end %>
 <% end %>

 




<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
